@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

body{
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
}

.container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;    /* Vertical centering */
  min-height: 100vh;      /* Full viewport height */
}

.card{
    border: 1px solid black; /* Grosor 2px, estilo sólido, color negro */
    border-radius: 10px; /* (Opcional) Bordes redondeados */
    padding: 20px; /* (Opcional) Espacio interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* (Opcional) Sombra para mejor estética */
    flex: content;
    width: 100%;
    max-width: 350px; /* Maximum width on large screens */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: hsl(0, 0%, 100%);
    box-shadow: 8px 8px 0px 0px black;
}

.card-content{
    padding: 0.8rem 0.1rem 0.1rem;
}

.image-container{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

img{
    width: 90%;
    border-radius: 10px;
}

.tag-container{
    display: flex;
    margin-left: 5%;
    margin-top: 8%
    
}

.tag {
    height: 30px;
    display: flex;
    align-items: center;
    flex: content;
    width: 5%;
    max-width: 100px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: hsl(47, 88%, 63%);
}

.tag-content {
    padding-left: 20%;
    margin-top: -1px; 
}

.tag-text {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
    font-size: 14px; 
}

.publicationDate-container{
    display: flex;
    margin-left: 5%;
}

.publicationDate-text{
    color: hsl(0, 0%, 7%);
    font-weight: 100;
    font-size: 14px; 
}

.title-container{
    display: flex;
    margin-left: 5%;
}

.title-text{
    margin: 0;
    padding: 0;
    font-size: 23px; 
    font-weight: bold;
}

.title-text:hover{
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}

.description-container{
    display: flex;
    margin-left: 5%;
}

.description-text{
    color: hsl(0, 0%, 42%);
}

.author-container{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.author-name{
    font-size: 14px; 
    font-weight: bold;
}

.author-img{
    width: 10%;
    height: 10%;
    padding-right: 4%;
}

.author-name-container{
    margin-top: -6px;
}